 h1{
                color:white;
            }
            p {
                color:#defcff;
                text-align:left;
            }
            a {
                color:#a9dff5;
            }
            ul{
                color:white;
            }
            ol{
                color:white;
            }
            table{
                color:white;
                border:"3px";
            }
            .darkbody{
                color:white;
                background-color:#383535;
            }
            table td tr{
                text-align:center;
            }
            .evenrows{
                background-color:lightblue;
            }
            .oddrows{
                background-color:#a819b3;
            }
            .ibody{
                background-color:#5F9EA0
            }
            .bottomtable{
                text-align: center;
            }
            .centertext{
                text-align:center;
                text-decoration: underline;
                font-size:20px;
            }
            .ctext{
                font-size:20px
            }